<section class="products-section inner-banner"></section>
<section class="products-section ptb-80">
    <div class="container">
        <div class="row">
            <div class="col-sm-7">
                <div class="product-details-image">
                    <div class="shipping-wrapper" *ngIf="!isAdress">
                        <h3 class="mb-4">Shpping Details</h3>
                        <form [formGroup]="checkoutForm" (ngSubmit)="orderPlace()">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label for="">Name</label>
                                        <input type="text" name="" id="" class="form-control" formControlName="name"
                                            placeholder="Enter Name">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label for="">Street</label>
                                        <input type="text" name="" id="" class="form-control" formControlName="address"
                                            placeholder="Street Address">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="">City</label>
                                        <select class="form-control" formControlName="city" id="">
                                            <option value="" selected>Select city</option>
                                            <option value="Delhi">Delhi</option>
                                            <option value="Jaipur">Jaipur</option>
                                            <option value="Udaipur">Udaipur</option>
                                            <option value="Pune">Pune</option>
                                            <option value="Mumbai">Mumbai</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="">State</label>
                                        <select formControlName="state" class="form-control" id="">
                                            <option value="" selected>Select state</option>
                                            <option value="Rajasthan">Rajasthan</option>
                                            <option value="Gujrat">Gujrat</option>
                                            <option value="Hariyana">Hariyana</option>
                                            <option value="Uttar Pardesh">Uttar Pardesh</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="">Country</label>
                                        <select formControlName="country" class="form-control" id="">
                                            <option value="" selected>Select country</option>
                                            <option value="India">India</option>
                                            <option value="USA">USA</option>
                                            <option value="Pakistan">Pakistan</option>
                                            <option value="Norway">Norway</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="">Postel Code</label>
                                        <input type="text" formControlName="postal" id="" class="form-control"
                                            placeholder="Postal Code">
                                    </div>
                                </div>
                            </div>
                            <button class="btn btn-secondary cart-btn mt-3 w-100" (ngSubmit)="orderPlace()"
                                [disabled]="!checkoutForm.valid">Place
                                Order</button>
                        </form>
                    </div>

                    <div *ngIf="isAdress" class="order-summary-box ml-4">
                        <h5>Added Address</h5>
                        <div class="summary-body p-4">
                            <div class="border-0 item-row mb-0 pb-0">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <h4>Name :</h4>
                                    </div>
                                    <div class="col-sm-6">
                                        <p class="mb-0 text-right">{{userAddress.name}}</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <h4>Address :</h4>
                                    </div>
                                    <div class="col-sm-6">
                                        <p class="mb-0 text-right">{{userAddress.address}}</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <h4>State :</h4>
                                    </div>
                                    <div class="col-sm-6">
                                        <p class="mb-0 text-right">{{userAddress.state}}</p>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-sm-6">
                                        <h4>City :</h4>
                                    </div>
                                    <div class="col-sm-6">
                                        <p class="mb-0 text-right">{{userAddress.city}}</p>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-sm-6">
                                        <h4>Country :</h4>
                                    </div>
                                    <div class="col-sm-6">
                                        <p class="mb-0 text-right">{{userAddress.country}}</p>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-sm-6">
                                        <h4>Postel :</h4>
                                    </div>
                                    <div class="col-sm-6">
                                        <p class="mb-0 text-right">{{userAddress.postal}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <button class="btn btn-secondary cart-btn mt-3 w-100" (click)="gotoPayment()">Place
                            Order</button>
                    </div>
                    


                </div>
            </div>
            <div class="col-sm-5">
                <div class="order-summary-box ml-4">
                    <h5>Order Summary</h5>
                    <div class="summary-body p-4">
                        <div class="d-flex item-row justify-content-center">
                            <div class="item-img">
                                <img class="img-fluid" [src]="singleItem.img" alt="">
                            </div>
                            <div class="item-title">
                                <h2>{{singleItem.title}}</h2>
                                <p>Item Quentity : 1</p>
                            </div>
                            <div class="item-price text-right">
                                <p class="mb-0">
                                    <del class="d-block text-muted">{{singleItem.price}} /-</del>
                                    <span>{{singleItem.newprice}} /-</span>
                                </p>
                            </div>
                        </div>
                        <div class="item-row ">
                            <div class="row">
                                <div class="col-sm-6">
                                    <h4>Shipping :</h4>
                                </div>
                                <div class="col-sm-6">
                                    <p class="mb-0 text-right">-</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <h4>Text :</h4>
                                </div>
                                <div class="col-sm-6">
                                    <p class="mb-0 text-right">0</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <h4>Promo code :</h4>
                                </div>
                                <div class="col-sm-6">
                                    <p class="mb-0 text-right">50/-</p>
                                </div>
                            </div>
                            <div class="item-title">
                                <h2></h2>
                            </div>
                        </div>
                        <div class="item-row border-0 pb-0 mb-0">
                            <div class="row">
                                <div class="col-sm-6">
                                    <h4>Total Amount:</h4>
                                </div>
                                <div class="col-sm-6">
                                    <p class="mb-0 text-right full-amount">{{singleItem.newprice}}/-</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>